{% extends "view_mode.html" %}
{% block content %}

<div class="container">
    <h1>{{ poll.text }}</h1>

    <hr>
    <div class="wrap" style="flex-grow: 1;">
        <div role="navigation">
            <div class="row">
              {% include 'polls/partials/dropdown_poll.html' %}
                <div class="col-5 ml-3">
                    {% include 'polls/partials/navigation_poll.html' %}
                </div>
               
            </div>
        </div>
    </div>
    <hr>
    <br/>
    <div id="form-choices">
    <form method="post" action="{% url 'polls:add_vote' poll.pk %}">
    {% csrf_token %}  
    {% include 'polls/partials/radio_choice.html' %}
    </div>
    <div class="container-fluid">
        {% if selected_choice_id is None and is_active %}
            <button type="submit" class="btn btn-success mt-3 align-self-end" id="submit-vote">Vote</button>
        {% elif is_active %}
            <a class="btn btn-secondary mt-3 align-self-end" href="{% url 'polls:reset_vote' vote.pk %}" role="button">Reset Vote</a>
        {% endif %}
        {% if poll.survey.owner == request.user %}
        <a class="btn btn-warning mt-3 align-self-end" href="{% url 'surveys:survey_detail' poll.survey.pk %}" role="button">Cancel</a>
        {% else %}
        <a class="btn btn-warning mt-3 align-self-end" href="{% url 'surveys:survey_index' %}" role="button">Return</a>
        {% endif %}
    </div>
    </form>
</div>
{% endblock content %}