{% extends 'view_mode.html' %} {% block content %}

<div class="container">
	<form method="post" action="{% url 'polls:submit_choices' %}"> 
		{% csrf_token %}

		{% for poll in polls %}
		<h2>{{ poll.text }}</h2>
		{% for key, choice_sets in choices.items %}
		{% if poll.id == key %}
		<div class="row">
			{% for choice in choice_sets %}
			<div class="col-4">
				<label>
					<input type="radio" name="poll_{{ poll.id }}" value="{{ choice.id }}"
					{% for selected_choice in selected_choices %}
					    {% if selected_choice == choice.id %} checked {% endif %}
					    {% if selected_choice or not is_active %} disabled {% endif %}
					{% endfor %} required >
					{{ choice.text }}
				</label>
				<br />
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% endfor %}
		<input type="hidden" name="poll_ids[]" value="{{ poll.id }}" />
		<br />
		<br />
		{% endfor %}
		<div class="container-fluid">
		{% if is_survey_completed %}
			{% include 'polls/partials/survey_complete.html' %}
		{% endif %}

		{% if not is_valid %}
		    <button type="submit" class="btn btn-success align-self-end">Submit All</button>
	    {% else %}
		    <a class="btn btn-secondary align-self-end" href="{% url 'polls:scroll_reset' survey.pk %}" role="button"}>Reset</a>
		{% endif %}
		{% if survey.owner == request.user %}
            <a class="btn btn-warning align-self-end" href="{% url 'surveys:survey_detail' survey.pk %}" role="button">Back</a>
        {% else %}
            <a class="btn btn-warning align-self-end" href="{% url 'surveys:survey_index' %}" role="button">Back</a>
        {% endif %}
		</div>
	</form>

	<div id="survey_result"></div>
</div>
{% endblock content %}
