{% extends 'base.html' %}
{% block content %}
<div class="container">
   <div class="row center">
      <div class="col-md-6 offset-md-3">
         <h2>Create new poll</h2>
         <div id='form-container'>
            <form action="{% url 'polls:add_poll' survey.pk %}" method="POST">
               {% csrf_token %}
               <div id='poll-text'>
                  {{ form.as_p }}
               </div>
                <button type="submit" class="btn btn-primary">Add Poll</button>
                <a class="btn btn-warning" href="{% url 'surveys:survey_detail' survey.pk %}" role="button">Back</a> 
         </div>
      </div>
   </div>
</div>
{% endblock %}