{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
<strong class="text-danger"> Delete this poll? </strong> 
<br>
<h2>Poll Title: {{ poll.text }}</h2>
<hr>
<h4>Choices:</h4>
{% include 'polls/partials/list_choice.html' %}
<hr>
<form method="post" action="">
 {% csrf_token %}
<button type="submit" class="btn btn-danger">Confirm</button>
<a class="btn btn-primary" role="button" href="{% url "surveys:survey_detail" poll.survey.id %}">Cancel</a>
</form>
</div>

{% endblock %}