{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <h2>Edit poll</h2>

            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Update Title</button>
                <a class="btn btn-primary" href="{% url 'polls:add_choice' poll.id %}" role="button">Add Choice</a>
                <a class="btn btn-secondary" href="{% url 'surveys:survey_detail' poll.survey.id %}" role="button">Back</a>

            </form>

            <div class="choices">
                <h2 class="text-center mt-3">Choices</h2>
                <hr>
                <ul class="list-group">
                    {% include 'polls/partials/detail_choice.html' %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}