{% extends 'base.html' %}
{% block content %}
<div id='choice-forms'>
    {% include 'polls/partials/choice_form.html' %}
</div>
<button type="button" class="btn btn-danger"
    hx-get="{% url 'polls:add_choice' poll.pk %}"
    hx-target="#choice-forms"
    hx-swap="beforeend">- Remove Choice</button>
<button type="button" class="btn btn-success me-2"
    hx-get="{% url 'polls:add_choice' poll.pk %}"
    hx-target="#choice-forms"
    hx-swap="beforeend">+ Add Choice</button>
<br>

<button class="btn btn-primary" type="submit" action="">Submit All</button>
{% endblock %}