<!--add_choice.html-->
{% extends 'base.html' %}
{% block content %}
<div 
<div id='choice-forms'>
    {% include 'polls/partials/choice_form.html' %}
</div>

<br>
<hr>

  <button type="button" class="btn btn-success me-2 align-self-end"
    hx-get="{% url 'polls:protocol_choice' poll.id %}"
    hx-target="#choice-forms"
    hx-swap="beforeend"><</button>
  <button type="button" class="btn btn-success me-2 align-self-end"
    hx-get="{% url 'polls:protocol_choice' poll.id %}"
    hx-target="#choice-forms"
    hx-swap="beforeend">></button>


{% endblock %}
