{% extends 'base.html' %} {% block content %}
<div class="container">
    <h1>{{ poll.poll_text }} </h1>
     <hr>
<div class="row">
  <div class="col-4 ">
    <p class="text-middle me-2"> Page {{ polls_page.number }} </p>
  </div>
  <div class="col-4">
   <button type="button" hx-get="{% url 'polls:protocol_vote' poll.pk %}" class="btn btn-warning me-2" id="next"><</button>
    <button type="button" action="get" class="btn btn-secondary me-2" id="prev">></button>
  </div>
</div>

<hr>
<br>
    <div id="form-choices">
        {% include 'polls/partials/detail_choice.html' %}
    </div>

 <div class="container-fluid">
    <button type="submit" 
            class="btn btn-primary mt-3 align-self-end" 
            id="submit-vote">Vote</button>
        <a class="btn btn-warning mt-3 align-self-end" href="{% url 'surveys:survey_detail' poll.survey.pk %}" role="button">Cancel</a>
    </div>
</div>
{% endblock content %}