{% extends 'base.html' %} {% block content %}
<div class="container">
    <h1>{{ poll.poll_text }}</h1>
    <hr />
        {% include 'polls/partials/dropdown_poll.html' %}
    <hr />
    <br />
    <div id="form-choices">

<form method="post" action="{% url 'polls:add_vote' poll.pk %}">
    {% csrf_token %}  
    {% include 'polls/partials/radio_choice.html' %}
    </div>
    <div class="container-fluid">
        {% if selected_choice_id is None%}
            <button type="submit" class="btn btn-primary mt-3 align-self-end" id="submit-vote">Vote</button>
        {% endif %}
        <a class="btn btn-warning mt-3 align-self-end" href="{% url 'surveys:survey_detail' poll.survey.pk %}" role="button">Cancel</a>
    </div>
    </form>
</div>
{% endblock content %}