{% extends 'base.html' %} {% block content %}
<div class="container">
    <h1>Polls details page</h1>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
     <hr>







<div class="pagination">
    <span class="step-links">
        {% if polls_page.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ polls_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ polls_page.number }} of {{ polls_page.paginator.num_pages }}.
        </span>

        {% if polls_page.has_next %}
        <a href="?page={{ polls_page.next_page_number }}">next</a>
        <a href="?page={{ polls_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>







    <h2 class="mt-3 mb-3">{{ poll }}</h2>
    <div id="form-choices">
        {% include 'polls/partials/detail_choice_form.html' %}
    </div>
</div>
{% endblock content %}