{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>People Electric Vote</h1>
                <h3>Control your future, stop waiting!</h3>
                <a href="{% url 'surveys:survey_index' %}"><button class="btn btn-primary me-2">Get Started</button></a>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock content %}