{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet noopener noreferrer" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet noopener noreferrer" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet noopener noreferrer" href="{% static 'css/text.css' %}">

    {% block custom_css %}{% endblock custom_css %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'includes/navbar.html' %}
    {% include 'includes/view.html' %}
    {% block content %}

    {% endblock content %}


    <!-- All javascript files goes under here    -->
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>