<!-- choice_form.html -->

<form  hx-post="{% url 'polls:protocol_choice' poll.id %}">
   {% csrf_token %}
   <div class="form-row align-items-center">
      <div class="col-6 col-md-4">
         <label for="{{ choice_form.choice_text.id_for_label }}">
            {{ choice_form.choice_text.label_tag }}
         </label>
      </div>
      <div class="col-4 col-md-6">
         {{ choice_form.choice_text }}
      </div>
   <button type="submit" class="btn btn-primary me-2 align-self-end" >Submit</button>
   </div>
</form>