<div class="row">
        <div class="dropdown-show float-left">
            <div class="dropdown ">
                <button class="btn btn-secondary dropdown-toggle ml-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Poll {{ current_poll_number }}
                </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <h6 class="dropdown-header"> Polls </h6>
                {% for poll in polls %}
                    <a class="dropdown-item" href="{% url 'polls:page_view' poll.pk %}">{{ poll.text }}</a>
                {% endfor %}
                </div> 
            </div>
        </div>
</div>