<!--detail.html-->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <hr>
            <h3 class="text-center mb-5">{{ survey.title }}</h3>
            <blockquote class="blockquote">{{ survey.description }} </blockquote>
            <hr>
            <h2>Polls List</h2>
            <ul class="list-group">
                {% include 'polls/partials/poll_detail.html' %}
            </ul>
            
            {% if request.user == survey.owner %}
            {% if survey.active %}
            <a class="btn btn-primary mt-3" href="{% url 'polls:add_poll' survey.pk %}" role="button">Create Poll</a>
            {% endif %}
            <a class="btn btn-primary mt-3" href="{% url 'surveys:survey_results' survey.pk %}" role="button">View Result</a>
            {% endif %}
            <a class="btn btn-warning mt-3" href="{% url 'surveys:survey_index' %}" role="button">Back to Survey Index</a>
        </div>
    </div>
</div>
{% endblock content %}